@media only screen and (max-width : 2500px) {
	.page-wrapper{
		display:block; 
		position:absolute; 
		width:100%; 
		height:100%; 
	}
	
}
@media only screen and (max-width : 992px) {
	.abh-single-details h2{
		font-size:30px;
	}
	.abh-home-area .abh_home_img{
		margin-left: -40px;
	}
	.abh-resume-box .abh-icon{
		left: -53px;
	}
	.abh-resume-info{
		padding: 40px 0px;
	}
	.abh-hire-content h3 {
		font-size: 33px;
	}
	.abh-icon {
		width: 530px;
		height: 2px;
		left: -27px;
		top: 317px;
	}

	
}
@media only screen and (max-width : 991px) {
	.abh-single-details h2{
		font-size:25px;
	}
	.abh-home-area .abh_home_img{
		margin-left: -30px;
	}
	.abh-banner-social ul li a{
		height: 45px;
		width: 45px;
		line-height: 45px;
		font-size: 20px;
		margin: 0 10px auto auto;
	}
	.abh-about-img{
		margin-bottom:30px;
	}
	.abh-pricingTable{
		margin-bottom:30px;
	}
	.abh-blog-area .abh-single-blog{
		margin-bottom:30px;
	}
	.abh-resume-box .abh-icon{
		left: -31px;
	}
	.abh-icon {
		top: 325px;	
	}
	.abh-footer-link{
		margin-bottom:30px;
	}


@media only screen and (max-width: 767px) {
	.abh_home_img{
		display:none;
	}
	.abh-home-area .abh_home_img2 img {
		display:none;
	}
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-section-title p {
		width: 100%;
	}
	#about .abh-about-content p{
		padding-right: 0px;
	}
	.abh-resume-info {
		padding: 28px 15px;
	}
	.abh-icon {
		top: 592px;
		width: 804px;		
	}
	.abh-resume-box li{
		margin: 0px 0 10px;
	}
	.abh-resume-box .abh-icon {
		left: -398px;
	}
	#portfolio .abh-portfolio-nav .nav {
		display: block;
		text-align: center;
	}
	#portfolio .abh-portfolio-nav .nav li {
		float: none;
		display: inline-block;
		padding: 5px 13px;
		margin: 6px 12px;
	}
	#portfolio .abh-main-portfolio{
		margin-left:1px;
	}
	.abh-post-img .abh-blog-date{
		right: 78px;
	}
	.abh-blog-date span{
		padding-top: 5px;
	}
	.abh-map-area{
		margin-top:30px;
	}
	.form-message{
		padding-bottom:30px;
	}
	

}

@media only screen and (max-width: 576px) {
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-single-details h2{
		font-size:20px;
	}
	.nav-fill .nav-item{
		font-size:16px;
	}
	.abh-icon{
		display:none;
	}
	.abh-resume-info{
		text-align:left;
	}
	.abh-resume-box .abh-resume-icon{
		width: 35px;
		height: 35px;
		left: 0px;
		z-index: 9999;
	}
	#portfolio .abh-portfolio-nav .nav {
		display: block;
		text-align: center;
	}
	#portfolio .abh-portfolio-nav .nav li {
		float: none;
		display: inline-block;
		padding: 5px 13px;
	}
	#portfolio .abh-main-portfolio{
		margin-left:1px;
	}
	.abh-testimonial-item{
		    padding: 0px 0px 50px 0px;
	}
	.abh-blog-area .abh-single-blog img{
		width:100%;
	}
	.abh-blog-date span{
		padding-top: 5px;
	}
	.abh-post-img .abh-blog-date{
		right: 10px;
	}
	.abh-hire-content h3 {
		font-size: 20px;
	}

}


@media screen and (max-width: 320px) and (min-width: 0px){
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-single-details h2{
		font-size:18px;
	}
	.abh-banner-social ul li a{
		margin: 0 5px auto auto;
	}
	.nav-fill .nav-item {
		font-size: 13px;
	}
	#home .abh-themes-btn{
		margin-bottom:15px;
	}
	.abh-section-title h2{
		font-size:30px;
	}
	#portfolio .portfolio-list .nav li {
		float: none;
		display: inline-block;
		padding: 7px 8px;
	}
	.abh-hire-content h3 {
		font-size: 20px;
	}


}